body{
    margin:0;
    padding: 0;
    background: #f1f1f1;
}
.loading{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(75deg);
    width:15px;
    height:15px;
}

.loading::before,.loading::after{
    content: "";
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 15px;
    animation: loading 1.5s infinite linear;
}

.loading::before{
    box-shadow: 15px 15px #e77f67, -15px -15px #778eb;

}

.loading::after{
    box-shadow: 15px 15px #f8a5c2, -15px -15px #f5cd79;
    transform: translate(-50%,-50%) rotate(90deg);

}

@keyframes loading{
    50%{
        height:45px;
    }
}

.load{
    color: #5d54a4;
    text-align: center;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    float: left;
    position: relative;
    left:660px;
    top:200px;
}


@keyframes mymove {
    0%   {top: 100px; }
    25%  {top: 200px; }
    50%  {top: 100px; }
    75%  {top: 200px; }
    100% {top: 100px; }
}

#l{
    animation: mymove 5.3s infinite;
}

#o{
    animation: mymove 5.2s infinite;
}

#a{
    animation: mymove 5.3s infinite;
}

#d{
    animation: mymove 5.4s infinite;

}

#i{
    animation: mymove 5.5s infinite;
}

#n{
    animation: mymove 5.6s infinite;
}

#g{
    animation: mymove 5.7s infinite;
}