body {
  background-color: #222831;
}
.container {
  position: absolute;
  right: 50%;
  top: 50%;
}
.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}
.dot1 {
  background-color: #1abc9c;
  animation: jump-up 0.6s 0.1s linear infinite;
}
.dot2 {
  background-color: #ffd64a;
  animation: jump-up 0.6s 0.2s linear infinite;
}
.dot3 {
  background-color: #e067af;
  animation: jump-up 0.6s 0.3s linear infinite;
}

@keyframes jump-up {
  50% {
    transform: translate(0, 15px);
  }
}
